<li class="validation-summary__error">
  <span class="validation-summary__error-number"><%= error[:number] %></span>
  <span class="validation-summary__error-text"><%= "#{error[:message]}".html_safe %></span>
</li>
