<li class="validation-summary__error">
  <% if error[:field] == :base %>
    <%= error[:message].html_safe %>
  <% else %>
    <%= link_to(error[:message], "#error-#{error_prefix}-#{error[:number]}") %>
  <% end %>
</li>
