<li class="validation-summary__error">
  <% if error[:field] == :base %>
    <%= "#{error[:message]}".html_safe %>
  <% else %>
    <%= "#{link_to(error[:message], "##{error[:field]}-errors")}".html_safe %>
  <% end %>
</li>
