<div class="validation-summary">
  <div class="validation-summary__content-container">
    <ol class="validation-summary__list">
      <%= render partial: 'summary_for_errors_li', collection: errors, as: 'error' %>
    </ol>
  </div>
</div>
