<div class="validation-summary<% if errors.empty? %> validation-summary--hidden<% end %>" role="alert">
  <div class="validation-summary__content-container">
    <p class="validation-summary__title"><%= t('dough.forms.validation.summary.title') %></p>
    <ol class="validation-summary__list" data-dough-validation-summary-list>
      <%= render partial: 'summary_for_errors_li', collection: errors, as: 'error' %>
    </ol>
  </div>
</div>
