<% if error[:field] == :base %>
  <li>
    <%= "#{error[:message]}".html_safe %>
  </li>
<% else %>
  <li>
    <%= "#{link_to error[:message], "##{error[:field]}-errors"}".html_safe %>
  </li>
<% end %>
