<% if errors.any? %>
<div class="validation-summary">
  <div class="validation-summary__content-container">
    <ol class="validation-summary__list">
      <% errors.map do |error| %>
        <%= render 'summary_for_errors_li', error: error %>
      <% end %>
    </ol>
  </div>
</div>
<% end %>
