<li class="validation-summary__error">
  <% if error[:field] == :base %>
    <%= raw(error[:message]) %>
  <% else %>
    <%= link_to(error[:message], "#error-#{error[:number]}") %>
  <% end %>
</li>
