<% if error[:field] == :base %>
  <li class="validation-summary__error">
    <%= "#{error[:message]}".html_safe %>
  </li>
<% else %>
  <li class="validation-summary__error">
    <%= "#{link_to(error[:message], "##{error[:field]}-errors")}".html_safe %>
  </li>
<% end %>
