*,
*:before,
*:after {
  box-sizing: border-box;
}

div[tabindex="-1"],
nav[tabindex="-1"] {
  outline: 0;
}

body, .dough {
  @extend %type;
  @extend %font-smoothing;
  @extend %prevent-text-zooming;
  color: $color-text-default;
}

// Currently we only have styles for H1 - H4
//
// Styleguide headings

h1 {
  @extend %heading-large;
}

h2 {
  @extend %heading-medium;
}

h3 {
  @extend %heading-small;
}

h4 {
  @extend %heading-extra-small;
}

// Our default font-size is 18px at desktop but is smaller on smaller screens. Line-height is proportional to font-size. This is applied to the <body> and all paragraphs.
//
// Styleguide p

p {
  @extend %paragraph;

  .editorial & {
    margin-bottom: px(24);
  }
}

b,
strong {
  font-weight: 500;
}

// The default style for numbered lists. The padding offsets the bullets by 25px;
//
// Styleguide ol

ol {
  @extend %base-font-style;
  padding: 0 0 0 25px;

  li {
    margin-bottom: $baseline-unit*2;
  }
}

// The default style for unordered lists. The padding offsets the bullets by 25px.
//
// Styleguide ul

ul {
  @extend %base-font-style;
  margin: $baseline-unit*2 0 $baseline-unit*4 0;
  padding: 0 0 0 25px;

  li {
    margin-bottom: $baseline-unit*2;
  }
}

// Basic primary links and their accompanying hover and focus states
//
// :visited - Foo
// :hover - Foo
// :focus - Foo
//
// Styleguide a

a {
  color: $color-link-default;
  text-decoration: none;

  &:visited {
    color: $color-link-default;
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-link-default;
    text-decoration: underline;
  }

  // Removes active link colour that is applied in Mobile Safari
  &[href^=tel] {
    color: inherit;
  }
}

img {
  max-width: 100%;

  // to force the correct aspect ratio
  height: auto;

  // support scaling images in IE7
  -ms-interpolation-mode: bicubic;
}
