// TYPOGRAPHY

// Default settings for Dough's typography.
// Variables have no unit to make calculations easier.

$base-font-size:    16 !default;
$base-line-height:  1.4 !default;

$base-font-family: "Helvetica Neue" !default;
$base-font-stack: $base-font-family, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Monospace font for code snippets
$monospace-font-stack: Consolas, Andale Mono, Monaco, monospace !default;

// Font weights that can be used in this project are:
$bold: 700 !default;
$medium: 500 !default;
$light: 200 !default;

// Small print sizes
$base-font-size-small: 14 !default;


// COLORS

// Default colours for ui elements
$primary-ui-color: $color-hampton;
$secondary-ui-color: $color-black-haze;

$base-horizontal-rule-color: $color-black-haze;

// Default colours for type and headings
$base-heading-color: $color-outer-space;
$base-text-color: $color-cape-cod;
$base-smallprint-color: $color-sirocco;

// Default colour for bullet points
$color-bullet: $color-hampton;


// GRID

// The vertical grid is spaced in 6px increments.
$vertical-grid-spacing: 6 !default;
