@import 'dough/assets/stylesheets/lib';
@import 'dough/assets/stylesheets/common';
@import 'dough/assets/stylesheets/optional';

// Prism code syntax highlighting
@import 'prism';

// Contains variables that are a pre-requisite for the settings file
@import 'lib/colors';

// Default settings for the Dough project
@import 'settings';

@import 'lib/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
