%form-input {
  @include font-weight(light);
  -webkit-appearance: none;
  background-color: $color-input-background;
  border: 1px solid $color-input-border-color;
  border-radius: 0;
  color: $color-input-text-color;
  display: inline-block;
  height: $baseline-unit*5;
  line-height: $baseline-unit*5;
  padding: 0 $baseline-unit;
  width: 100%;
}
