%form-input {
  @extend %font-body;
  -webkit-appearance: none;
  background-color: $color-input-background;
  border: 1px solid $color-input-border-color;
  border-radius: 0;
  color: $color-input-text-color;
  display: inline-block;
  height: px(30);
  line-height: px(30);
  padding: 0 px(6);
  width: 100%;
}
