<% if local_assigns[:options] %>
  <% text = options.fetch(:text, '') %>
  <% classname = options.fetch(:classname, '') %>
<% end %>

<button type="button"
        class= "helper popup-tip__button <%= classname %>"
        data-dough-popup-trigger>
  <span aria-hidden="true">i</span>
  <span class="visually-hidden"><%= text %></span>
</button>
