<% @components.each do |c| %>
<section class="l-component">
  <div class="l-component__description">
    <%= c.doc_html.html_safe %>
  </div>

  <h3>Preview</h3>

  <div class="code code--processed">
    <%= raw(c.code_processed_html.result(binding)) %>
  </div>

  <h3>Embed Code</h3>

  <pre class="language-ruby"><code class="language-ruby"><%= c.code_raw_html %></code></pre>
</section>
<% end %>
