
/**
 input range styling from
 http://codepen.io/aronwoost/pen/nlyrf
 http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
**/
.form__input-range {
  -webkit-appearance: none;
  margin-bottom: $baseline-unit * 2;
  width: 100%;
  padding-left:1px;
  padding-right:1px;
  margin-top: $baseline-unit * 4;
  @include respond-to($mq-m) {
    margin-top: $baseline-unit;
  }
}

@mixin range-track-colors {
  background-color: $color-range-background;
  border: 1px solid $color-range-border;
}

.form__input-range::-webkit-slider-runnable-track {
  @include range-track-colors;
  @include respond-to($mq-m) {
    height: 7px;
  }
}

.form__input-range::-moz-range-track {
  @include range-track-colors;
  height: 7px;
}

.form__input-range::-ms-track {
  @include range-track-colors;
  color: transparent;
  height: 20px;
}

.form__input-range::-ms-fill-lower,
.form__input-range::-ms-fill-upper {
  background: transparent;
}

.form__input-range::-ms-tooltip {
  .js & {
    display: none;
  }
}

/* thumb */

@mixin range-thumb-generic {
  width: 40px;
  border: 1px solid $color-range-border;
  background-color: $color-white;
  @include respond-to($mq-m) {
    width: 24px;
  }
}

@mixin range-thumb-large {
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 5px $color-range-border;
  @include respond-to($mq-m) {
    height: 24px;
  }
}

.form__input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include range-thumb-generic;
  @include range-thumb-large;
  @include respond-to($mq-m) {
    margin-top: -10px;
  }
}

.form__input-range::-moz-range-thumb {
  @include range-thumb-generic;
  @include range-thumb-large;
}

.form__input-range::-ms-thumb {
  @include range-thumb-generic;
  height: 20px;
}
