
/**
 input range styling from
 http://codepen.io/aronwoost/pen/nlyrf
 http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
**/
.form__input-range {
  -webkit-appearance: none;
  width: 100%;
  padding-left:1px;
  padding-right:1px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin range-track-colors {
  background-color: $color-range-background;
  border: 1px solid $color-range-border;
}

.form__input-range::-webkit-slider-runnable-track {
  @include range-track-colors;
  @include respond-to($mq-m) {
    height: 7px;
  }
}

.form__input-range::-moz-range-track {
  @include range-track-colors;
  height: 7px;
}

.form__input-range::-ms-track {
  @include range-track-colors;
  color: transparent;
  height: 20px;
}

.form__input-range::-ms-fill-lower,
.form__input-range::-ms-fill-upper {
  background: transparent;
}

.form__input-range::-ms-tooltip {
  .js & {
    display: none;
  }
}

/* thumb */

@mixin range-thumb-generic {
  width: 40px;
  border: 1px solid $color-range-border;
  background-color: $color-white;
  @include respond-to($mq-m) {
    width: 24px;
  }
}

@mixin range-thumb-large {
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 5px $color-range-border;
  @include respond-to($mq-m) {
    height: 24px;
  }
}

.form__input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include range-thumb-generic;
  @include range-thumb-large;
  @include respond-to($mq-m) {
    margin-top: -10px;
  }
}

.form__input-range::-moz-range-thumb {
  @include range-thumb-generic;
  @include range-thumb-large;
}

.form__input-range::-ms-thumb {
  @include range-thumb-generic;
  height: 20px;
}

.l-form__range {
  width: 50%;
}
%input--range {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  white-space: nowrap;
}

.form__range-output-l {
  @extend %input--range;
  text-align: right;
  input {
    text-align: right;
  }
}

.form__range-output-center {
  @extend %input--range;
  text-align: center;
  width: 5%;
}

.form__range-output-r {
  @extend %input--range;
  text-align: left;
}
