// Search box that appears in header and in search results page
//
// Styleguide Search box

@if $include-search-box {

  .search-box {
    position: relative;
    margin: 0 auto;
    width: 100%;

    // nesting the input to be more specific than base style which uses attribute selector
    .search-box__input {
      @extend %font-heading-medium;
      width: 100%;
      height: px(42);
      padding-left: px(12);
      border: 0;
      background-color: $color-off-white;

      &::-webkit-input-placeholder {
        color: $color-search-text;
      }

    }
  }

  .search-box__submit {
    @extend .unstyled-button;
    position: absolute;
    bottom: 0;
    right: 0;
    width: px(42);
    height: px(42);
    font-size: 24px;
    color: $color-search-text;

    .icon--search {
      position: absolute;
      top: px(12);
      left: px(12);
    }

    &:focus {
      outline: 0;
      background-color: $color-green-secondary;
      color: $color-white;

      .icon--search {
        // changes the search icon to icon--search-white,cannot be extended or will not appear in the Styleguide.
        background-position: -271px -73px;
        @include device-pixel-ratio() {
          background-position: -272px -8px;
        }
      }
    }
  }

} // end if statement
