.social-sharing__item {
  display: inline-block;
  overflow: hidden;
  margin: 0 10px 0 0;

  .social-sharing__item__icon {
    display: block;
    line-height: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-sharing__icon--facebook {
  height: (150px / 5);
  width: (77.8922px / 5);
}

.social-sharing__icon--twitter {
  height: (150px / 5);
  width: (184.574px / 5);
}

.social-sharing__icon--email {
  height: (150px / 5);
  width: (248.152px / 5);
}
