.social-sharing__item {
  display: inline-block;
  margin: 0 10px 0 0;
  border-radius: 3px;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  .social-sharing__item__icon {
    display: block;
    line-height: 0;
  }
}

.social-sharing__icon {
  height: 33px;
  width: 55px;
}

.social-sharing__item--facebook {
  background: $color-facebook;

  .social-sharing__item__icon:hover {
    background: $color-facebook-hover;
  }
}

.social-sharing__item--twitter {
  background: $color-twitter;

  .social-sharing__item__icon:hover {
    background: $color-twitter-hover;
  }
}

.social-sharing__item--email {
  background: $color-email;

  .social-sharing__item__icon:hover {
    background: $color-email-hover;
  }
}
