<button class="button button--compact">
  <span class="icon icon--left-chevron"></span>
  <span class="button--compact__text"><%= html_content[:previous].html_safe %></span>
</button>
<button class="button button--compact">
  <span class="button--compact__text"><%= html_content[:next].html_safe %></span>
  <span class="icon icon--right-chevron"></span>
</button>
