// Buttons
//
// :hover      - green
// :focus      - green
// :active     - green
// .is-disabled - green
// .button--primary            - yellow
// .button--primary:hover      - yellow
// .button--primary:focus      - yellow
// .button--primary:active     - yellow
// .button--primary.is-disabled - yellow
//
// Styleguide buttons

.button {
  @extend %type-button;
  @include inline-block;
  padding: $padding-vertical-button $padding-horizontal-button;
  margin-bottom: 0;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  border-radius: $border-radius-button;
  border: none;
  background: $color-button-default;
  border-bottom: $border-width-button solid $color-button-default-border;
  transition: background 0.2s ease;
  color: $color-button-default-text;
  cursor: pointer;
  filter: none;

  &:visited {
    color: $color-button-default-text;
  }

  &:focus {
    outline: thin dotted;
    outline: 3px auto -webkit-focus-ring-color;
    outline-offset: -1px;
  }

  &:focus,
  &:hover {
    background: lighten($color-button-default, $lighten-button);
    border-color: lighten($color-button-default-border, $lighten-button);
    color: $color-button-default-text;
    text-decoration: none;
  }

  &:active {
    padding-top: $padding-vertical-button - $border-width-button;
    border-bottom-color: $color-button-default;
    border-top: $border-width-button solid $color-button-default-border;
  }

  &.is-disabled,
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=6);
    opacity: .6;
  }
}

.button--primary {
  background: $color-button-primary;
  border-bottom-color: $color-button-primary-border;

  &:focus,
  &:hover {
    background: lighten($color-button-primary, $lighten-button);
    border-color: lighten($color-button-primary-border, $lighten-button);
  }

  &:active {
    border-bottom-color: $color-button-primary;
    border-top-color: lighten($color-button-primary-border, $lighten-button);
  }
}

// Requires the text to be wrapped in a sub-element in order to hide it at small viewport widths
//
// Styleguide Direction buttons

.button--compact {
  cursor: pointer;
  padding: 12px 8px;
  height: 52px;
  min-width: 93px;
  vertical-align: middle;

  > .icon {
    position: relative;
    top: 5px;
  }

  @include respond-to(0, $mq-m) {
    height: $baseline-unit*7;
    min-width: $baseline-unit*7;

    > .icon {
      top: 1px;
    }
  }
}

.button--compact__text {
  margin-left: 5px;
  margin-right: 5px;

  @include respond-to(0, $mq-m) {
    @include visually-hidden;
  }
}

// Sits alongside a text input. Button height matches text input height.
//
// Styleguide buttons

.button--inline-input {
  @extend %type-button-inline-input;
  height: $input-height;
  line-height: 0;
  padding: 8px 10px;
  vertical-align: top;
}
