// Box used to emphasize text
//
// Styleguide inset-block

.inset-block {
  margin: px(12) 0 px(18) 0;

  @include respond-to($mq-s) {
    margin: px(12) 0 px(30) 0;
  }
}

.inset-block__content-container {
  border-left: 10px solid $color-inset-block-border;
  padding-left:10px;
  @include inline-block;
  padding-right: px(18);
}

.inset-block__text {
  margin-bottom: 0;
}
