// Box used to present summary of form validation errors
//
// Styleguide validation-summary

.validation-summary {
  margin: px(12) 0 px(18) 0;

  @include respond-to($mq-s) {
    margin: px(12) 0 px(30) 0;
  }
}

.validation-summary__content-container {
  @extend .is-errored;
  @include inline-block;
  background: $color-validation-summary-background;
  padding-right: px(18);
}

.validation-summary__title {
  @extend %font-heading-heavy;
  margin: 0.75em 0;
}

.validation-summary__list {
  margin: px(12) 0;

  a {
     color:$color-validation-text;
     text-decoration:none;
     &:hover, &:focus {
      text-decoration:underline;
     }
  }
}
