.button {
  @include inline-block;
  background: $color-button-default;
  border-radius: 5px;
  margin-bottom: 0;
  line-height: inherit;
  text-align: center;
  white-space: nowrap;
  color: $color-button-text;
  cursor: pointer;
  filter: none;

  &:visited {
    color: $color-button-text;
  }

  &:focus {
    outline: 2px solid $color-input-focus-border-color;
  }

  &.is-disabled,
  &[disabled] {
    background: $color-button-default-background-disabled;
    color: $color-button-text-disabled;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.button--primary {
  background: $color-button-primary;
  border-bottom-color: $color-button-primary-border;

  &:focus,
  &:hover,
  &:active {
    background: $color-button-primary-active;
    border-color: $color-button-primary-border-active;
  }

  &:active {
    border-bottom-color: $color-button-primary-active;
    border-top-color: $color-button-primary-border-active;
  }

  &.is-disabled,
  &[disabled] {
    background: $color-button-primary-disabled;
    border-color: $color-button-primary-border-disabled;
  }
}

.button--compact {
  cursor: pointer;
}

.button--inline-input {
  height: $input-height;
  line-height: 0;
  vertical-align: top;
}

.button--small {
  line-height: 1;
}
