.callout {
  @include clearfix();
  padding: $baseline-unit*3 0 0 0;
  margin: $baseline-unit*4 0;
  border-radius: 5px;
  background-color: $color-callout-background;

  h3 {
    @extend %heading-extra-small;
    margin: 0 $baseline-unit*3 $baseline-unit;
    text-transform: capitalize;
  }

  p {
    @extend %type-callout;
    margin: 0 $baseline-unit*3 $baseline-unit*3 $baseline-unit*3;
  }
}
