.form__row--is-errored {
  label {
    color: $color-validation-text;
    font-weight: bold;
  }
}

.form__label-heading {
  display: block;
}


.form__hint {
}


.form__group-item {
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__group--inline .form__group-item {
  display: inline-block;
  margin-right: 15px;
}

.form__group-input {
  display: inline-block;
  margin-right: 5px;
}


.form__input-container {
  display: table;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
}

.form__input-container .form__input {
  background: transparent;
  border: none;
  position: relative;
  width: 100%;
  z-index: 2;

  &:focus {
    background: transparent;
    border: none;
    outline: none;
  }
}

.form__input-container .form__input-label {
  padding-left: 5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 1%;
  z-index: 2;
}

.form__input-container .form__input ~ .form__input-label {
  padding-left: 0;
  padding-right: 5px;
}

.form__input-container .form__input,
.form__input-container .form__input-label,
.form__input-container .field_with_errors {
  display: table-cell;
  vertical-align: middle;
}

.form__input-container .field_with_errors input {
  display: block;
  width: 100%;
}

.form__input-outline {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
