// Box used to present summary of form validation errors
//
// Styleguide validation-summary

.validation-summary {
  &.validation-summary--hidden {
    display:none;
  }
}

.validation-summary__content-container {
  @extend .is-errored;
  background: $color-validation-summary-background;
}

.validation-summary__title {
}

.validation-summary__list {
}
