<footer class="l-footer">
  <div class="l-constrained">
    <div class="l-constrained__padded">
    <p class="smallprint">Lovingly crafted by the <a href="https://www.moneyadviceservice.org.uk">Money Advice Service</a> bakers.</p>
  </div>
  </div>
</footer>
