<header class="l-header">
  <div class="l-constrained">
    <div class="l-constrained__padded">

      <h1>Made with Dough</h1>
      <p class="strapline">You kneed it. Literally.</p>
      <p><a href="">Download</a> our component library, leave to rise in a warm place for twenty minutes, then use.</p>

    </div>
  </div>
</header>
