<%= render '/header' %>

<main role="main">
  <div class="l-constrained">
    <div class="l-constrained__padded">

      <%= render 'shared/component' %>

    </div>
  </div>
</main>

<%= render '/footer' %>
