body {
  @include font-size($base-font-size);
  font-family: $base-font-stack;
  font-weight: $light;
  line-height: $base-line-height;
}

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

p {
  margin-top: 0;
  margin-bottom: baseline-unit(2);

  // styles for the "last edited on" tagline
  h2 + & {
    @include font-size($base-font-size-small);
    color: $base-smallprint-color;
    margin-top: baseline-unit(-2);
    margin-bottom: baseline-unit(3);
  }
}

small,
.small {
  @include font-size($base-font-size-small);
}
