h1, h2, h3, h4, h5, h6 {
  margin-top: 0; // All type should only use margin-bottom.
  font-weight: $bold;
  color: $base-heading-color;
}

h1 {
  @include font-size(40);

  @include respond-to($mq-l) {
    @include font-size(60);
  }
}

h2 {
  @include font-size(30);

  @include respond-to($mq-l) {
    @include font-size(40);
  }
}

h3 {
  @include font-size(20);
  border-bottom: 1px solid $base-horizontal-rule-color;
  margin-top: baseline-unit(6);
  margin-bottom: baseline-unit(3);
}

h4 {
  @include font-size(16);
  border-bottom: 1px solid $base-horizontal-rule-color;
  margin-top: baseline-unit(6);
  margin-bottom: baseline-unit(3);
}

.strapline {
  @include font-size(20);
  margin-bottom: baseline-unit(12);

  @include respond-to($mq-l) {
    @include font-size(26);
  }
}
