<%= callout_instructional "Callout content",html_content: {
    heading: '<h3>Budgeting tips</h3>',
    content: '<p>In 1985, average first-time buyers needed a deposit of 5% to buy a home - in 2012, this had increased to 20%
    <br/><strong>Source: HM Treasury </strong>
      </p>'
}
%>
