button {
  @extend %font-smoothing;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"] {
  @extend %form-input;
  &:focus {
    @extend %form-input-focus;
  }

  &[disabled] {
    background-color: $color-input-disabled-background;
    color: $color-input-disabled-text-color;
  }
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  &:focus {
    @extend %form-input-focus;
  }
}

textarea {
  width: 100%;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;

  & > legend {
    color: $color-fieldset-legend-fg;
    display: block;
    @include font-weight(medium);
    margin-bottom: $baseline-unit*4;
  }
}

